html *
{
   font: Roboto;
   font-size: 16px;
}

body {
  padding:0 0;
  margin:0 0;
  background-color: #f2f2f2;
}

button {
  border: none;
  padding: 0 0;
  margin: 0 0;
  background-color: transparent;
  outline: none;
}

button:disabled:hover {
  color: red;
}

p {
  margin: 0 0;
}

input:focus {
    outline:none;
}

a {
  text-decoration: none;
  font-size: 16px;
}

textarea {
  resize: none;
}

#banner {
  background-color: white;
  height: 100px;
  color: black;
  padding: 0 10%;
  border-bottom: 1px solid #ccc;
}

#banner_logo {
  display: inline-block;
  line-height: 100px;
  width: 100px;
  margin-right: 20px;
  cursor: pointer;
}

.banner_button {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  margin: 0 15px;
  font-size: 14px;
  height: 50px;
  color: #4AAD00;
  border-radius: 8px;
  border: 1px solid #4AAD00;
}

.banner_button:hover {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  margin: 0 15px;
  font-size: 14px;
  height: 50px;
  color: white;
  border-radius: 8px;
  border: 1px solid #4AAD00;
  background-color: #4AAD00;
}

#banner_right {
  display: inline-block;
  float: right;
  height: 100px;
  padding: 30px 0;
}

#person_type {
  display: inline-block;
  font-weight: 600;
}

#user_name {
  display: inline-block;
  line-height: 100px;
  font-weight: 600;
}

#logout_button {
  background-color: white;
  padding: 0 10px;
  cursor: pointer;
}
#banner_hr {
  border-color: #f1f1f1;
  width: 100%;
  margin: 0 0;
}

#white_background_wrapper {
  position: relative;
  overflow: hidden;
  width: 1300px;
  margin: 0 auto;
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#type_selector {
  display: inline-block;
  margin: 0 0;
  color: black;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}
#workout_selector {
  display: inline-block;
  margin: 0 0;
  color: black;
  z-index: 1;
}

#dropdown_label {
  display: inline-block;
  padding-right: 5px;
}

.dropdown {
  display: inline-block;
}

.dropdown-menu {
  width: 100px;
}

#dropdown_button {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 2px 10px;
}


#dropdown_button:hover {
  background-color: red;
  color: white;
}

.type_selector_button {
  padding: 5px 5px;
  cursor: pointer;
}

.type_selector_button:hover {
  color: gray;
}

.type_selector_button_selected {
  padding: 5px 5px;
  color: red;
}

.type_selector_button_selected:hover {
  color: gray;
}

#rowers_div {
  float: left;
  display: inline-block;
  width: 250px;
  height: 100%;
}

#rowers_title_div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#rowers_title {
  text-align: center;
  font-weight: 600;
}

#rowers_list {
  padding: 0 0;
  margin: 0 0;
}

#rowers_list li {
  list-style: none;
  padding: 20px 20px;
  border-bottom: 1px solid #ccc;
}

#rowers_list li:hover {
  background-color: #ADD8E6;
  cursor: pointer;
  color: white;
}

.rower_selected {
  background-color: #ADD8E6;
  color: white;
}

.rower_selected:hover {
  background-color: white;
  color: black;
}

#graph_div {
  width: 100%;
  padding: 20px 0;
}

#graph_title {
  text-align: center;
  padding: 20px 20px;
}

#graph {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.overlay {
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

#averages_div {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 20px 20px;

}

#averages_div_title {
  font-weight: 800;
}

#averages_list {
  margin: 0 0;
  padding: 0 0;
}

#averages_list li {
  list-style: none;
  padding: 10px 0;
}

#profile_dropdown {
  vertical-align: middle;
}

#profile_dropdown_button {
  background-color: transparent;
  color: black;
  padding: 0 0;
  font-size: 24px;
  font-weight: 600;
  border: none;
  border-bottom:1px solid #ccc;
}

#workout_button {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 2px 10px;
}

#stats_title {
  display: inline-block;
  font-weight: 600;
  padding: 20px 20px;
}

#choose_workout_div {
  float: right;
  padding: 0 20px;
}

#choose_statistic_div {
  display: inline-block;
  padding: 0 20px;
}

#stats_header {
  display: inline-block;
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #ccc;
}

#float_right_div {
  float: right;
  width: 1048px;
  border-left: 1px solid #ccc;
}

#averages_table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#averages_table tr:nth-child(odd) {
    background-color: #dddddd;
}

#averages_table {
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.title_cell {
  background-color: white;
  border: 1px solid red;
}
