<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}

    </style>
</head>
<body>
    <div id="headerDiv">
        <h2>Upload Data</h2>
    </div>
    <hr>

    <!-- Trigger/Open The Modal -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/manage-data.css">


    <body>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" data-whatever="@mdo">Open modal for @mdo</button>

        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div id="form-content">
              <div class="form-group">
                <label for="nameSelect">Select Name</label>
                <select class="form-control" id="nameSelect">
                  <option selected disabled>Choose Name</option>
              </select>
          </div>
          <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" onclick="toggleWorkout(this);">
                  New Workout
              </label>
          </div>
      </div>
      <div class="form-group">
        <div class="form-group" id="workoutSelectDiv">
            <label for="workoutSelect">Select Workout</label>
            <select class="form-control" id="workoutSelect">
              <option selected disabled>Choose Workout</option>
          </select>
      </div>
      <div class="form-group" hidden="true" id="pieceTypesDiv">
        <label >Workout Type</label>
        <div class="form-inline">
            <input type="text" class="form-control" id="pieceLengths" placeholder="e.g. 08:00,23">
            <input type="text" class="form-control" id="pieceTypes" placeholder="e.g. time,strokes">
            <input type="text" class="form-control" id="pieceCounts" placeholder="3,12">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="txtFileUpload">Upload your CSV File:</label>
    <input type="file" name="fileUpload" class="form-control-file" id="txtFileUpload" accept=".csv" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This is the csv file generated by the speed coach device.</small>
</div>

<div class="form-group">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Auto find pieces
  </label>
</div>
<button type="submit" id="getIntervalsBtn" class="btn btn-primary">Submit</button>

</div>

<div id="graphingContent" hidden="true">
    <div id="intervalTableDiv" style="height:200px;overflow:auto;"></div>
    <div class="row">
        <button class="btn btn-primary" id="backBtn">Back</button>
        <button class="btn btn-primary" id="intResizeButton">Resize Interval</button>
    </div>
    <div id="graph"></div>
    <divclass="row">
    <button class="btn btn-primary" id="submitIntsBtn">Submit</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

</div>


</body>

<script>
var csv_data;
var targetInt = 0;

$('#uploadModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
})

function toggleWorkout(cb){
    if(cb.checked){
        $("#workoutSelectDiv").hide();
        $("#pieceTypesDiv").show();
    }else{
        $("#workoutSelectDiv").show();
        $("#pieceTypesDiv").hide();
    }
}

function browserSupportFileUpload() {
  var isCompatible = false;
  if (window.File && window.FileReader && window.FileList && window.Blob) {
    isCompatible = true;
}
return isCompatible;
}

function uploadCSV() {
  if (!browserSupportFileUpload()) {
    alert('The File APIs are not fully supported in this browser!');
} else {
    //var data = null;
    var file = $("#txtFileUpload")[0].files[0];
    var reader = new FileReader();
    reader.readAsText(file);
    reader.onload = function(event) {
        csv_data = event.target.result;
    };
    reader.onerror = function() {
      alert('Unable to read ' + file.fileName);
  };
}
}

var rawDataURL = 'https://raw.githubusercontent.com/plotly/datasets/master/2016-weather-data-seattle.csv';
var data;
var raw_data;
var xField = 'elapsedTime';
var yField = 'power';

var selectorOptions = {
    buttons: [{
        step: 'all',
    }]
};

function plot_graph(data){
    var layout = {
        title: 'Time series with range slider and selectors',
        xaxis: {
            rangeselector: selectorOptions,
            rangeslider: {}
        },
        yaxis: {
            fixedrange: true
        },
        shapes: [],
    };

    Plotly.plot('graph', data, layout);
}

function plot_graph_shapes(shapes, data){
    var layout = {
        title: 'Power vs Time: Piece intervals',
        xaxis: {
            rangeselector: selectorOptions,
            rangeslider: {}
        },
        yaxis: {
            fixedrange: true
        },
        shapes: shapes
    };

    Plotly.plot('graph', data, layout);
}

/*function init_graph(){
    getData();
}*/

function prepData(raw_data) {
    var x = [];
    var y = [];

    //console.log("len data",raw_data.length)

    raw_data.forEach(function(datum, i) {
        var date = new Date("January 1, 1970, " + datum[xField]);
        //console.log("date", date, "raw", datum[xField]);
        x.push(date);
        y.push(datum[yField]);
    });

    return [{
        mode: 'lines',
        x: x,
        y: y
    }];
}

function prepCsvData(raw_data) {
    var x = [];
    var y = [];
    var xField = 3;
    var yField = 13;

    //console.log("len data",raw_data.length)

    raw_data.forEach(function(datum, i) {
        var date = new Date("January 1, 1970, " + datum[xField]);
        //console.log("date", date, "raw", datum[xField]);
        x.push(date);
        y.push(datum[yField]);
    });

    return [{
        mode: 'lines',
        x: x,
        y: y
    }];
}

/*function drawRecs(data, ints){
    console.log("data", data);
    console.log("ints", ints);
    Plotly.relayout($("#graph")[0],"shapes",[])
    var shapes = [];
        // 1st highlight during Feb 4 - Feb 6
        for (var i = 0; i < ints.length; i+=2){
            var rect = {
            type: 'rect',
            // x-reference is assigned to the x-values
            xref: 'x',
            // y-reference is assigned to the plot paper [0,1]
            yref: 'paper',
            x0: data[ints[i]].valueOf(),
            y0: 0,
            x1: data[ints[i+1]].valueOf(),
            y1: 1,
            fillcolor: '#d3d3d3',
            opacity: 0.6,
            line: {
                width: 0
            }
        };
        shapes.push(rect);
        }
        console.log(shapes);
        Plotly.relayout($("#graph")[0],"shapes",shapes);
    }*/
/*function makeRecs(data, ints){
    console.log("data", data);
    console.log("ints", ints);
    var shapes = [];
        // 1st highlight during Feb 4 - Feb 6
        for (var i = 0; i < ints.length; i+=2){
            var x0Idx = ints[i]-1; // -1 because for some reason the starts tend to be a stroke or two past the start
            if (x0Idx<0){
                x0Idx = 0; //I need to make sure it doesn't go below zero as it's the start index
            }
            var rect = {
            type: 'rect',
            // x-reference is assigned to the x-values
            xref: 'x',
            // y-reference is assigned to the plot paper [0,1]
            yref: 'paper',
            x0: data[ints[i]].valueOf(),
            y0: 0,
            x1: data[ints[i+1]].valueOf(),
            y1: 1,
            fillcolor: '#d3d3d3',
            opacity: 0.6,
            line: {
                width: 0
            }
        };
        shapes.push(rect);
        }
        console.log(shapes);
        return shapes;
    }*/

    function makeRect(x0, x1, id){
        var rect = {
            id: id,
            type: 'rect',
            // x-reference is assigned to the x-values
            xref: 'x',
            // y-reference is assigned to the plot paper [0,1]
            yref: 'paper',
            x0: x0.valueOf(),
            y0: 0,
            x1: x1.valueOf(),
            y1: 1,
            fillcolor: '#d3d3d3',
            opacity: 0.6,
            line: {
                width: 0
            }
        };
        return rect;
    }



    function getData(){
        console.log("workout selected");
        var chosen_workout = $('#workout_button');
        $.post("/get-workout-data", {workoutID: 32}, function(res){
          console.log(res.data);
      //console.log(res);
      var raw_data = res.data;

      const data = prepData(raw_data);
      plot_graph(data);
  });
    }

    function getDataCsv(){
        console.log("workout selected");
        var chosen_workout = $('#workout_button');
        $.post("/test-data-parse", {data: csv_data}, function(res){
          console.log(res.data);
      //console.log(res);
      raw_data = res.data.data;
      const data = prepCsvData(raw_data);
      plot_graph(data);
  });
    }

    function closest(num, curr,closestVal){
        if (Math.abs(num - closestVal) < Math.abs(num - curr)){
            return 0;
        }else{
            return 1;
        }
    }

    function getClosestInt(x0, x1){
        var closest_x0 = -1;
        var closest_x1 = -1;
        var closest_x0_idx = -1;
        var closest_x1_idx = -1;
        var data = $("#graph")[0].data[0].x;
        data.forEach(function(i,j){
    //console.log(closest_x0,closest_x1);
    if (closest(x0,i,closest_x0)){
        closest_x0_idx = j;
        closest_x0 = i;
    }
    if (closest(x1,i,closest_x1)){
        closest_x1_idx = j;
        closest_x1 = i;
    }
});
        console.log(closest_x0,closest_x1);
        console.log([closest_x0_idx,closest_x1_idx]);
        return [closest_x0_idx,closest_x1_idx];
    }


    function getDataInts(){
        removeTrace();
        console.log("workout selected");
        var chosen_workout = $('#workout_button');
        $.post("/test-parse-intervals", {data: csv_data, lengths: $("#pieceLengths").val(), types: $("#pieceTypes").val(), counts: $("#pieceCounts").val(), threshold: 0.15}, function(res){
          console.log(res);
      //console.log(res);
      raw_data = res.data.data;
      const data = prepCsvData(raw_data);
      //plot_graph(data);
      var shapes = buildIntervals(data[0].x, res.ints, $("#pieceLengths").val(), $("#pieceTypes").val(), $("#pieceCounts").val());
      plot_graph_shapes(shapes, data);
  });
    }


/*function groupByUsername(){
  partitionedData = {};
  for(var i = 0; i < global_data.length; i++){
    if (!partitionedData[global_data[i].email]){
      partitionedData[global_data[i].email] = [];
    }
    partitionedData[global_data[i].email].push(global_data[i]);
  }
  for (var username in partitionedData){
    partitionedData[username].sort(function(a, b){
      if(a["id"] > b["id"]) return 1;
      if(a["id"] < b["id"]) return -1;
      return 0;
    });
  }
  global_data = partitionedData
}*/

function makeIntervalTable(){
    var data = [ [ 1, 2, 3 ], [ 4, 5, 6 ], [7, 8, 9 ] ];

    var html = '<table><thead><tr>...</tr></thead><tbody>';
    for (var i = 0, len = data.length; i < len; ++i) {
        html += '<tr>';
        for (var j = 0, rowLen = data[i].length; j < rowLen; ++j ) {
            html += '<td>' + data[i][j] + '</td>';
        }
        html += "</tr>";
    }
    html += '</tbody><tfoot><tr>....</tr></tfoot></table>';

    $(html).appendTo('#intervalTable');

}

function highlightInterval(index){
    var shapes = $("#graph")[0].layout.shapes;
    shapes[targetInt].fillcolor = "#d3d3d3";
    console.log("index", index);
    console.log("shapes", shapes);
    shapes[index].fillcolor = "lawngreen";
    Plotly.relayout($("#graph")[0],"shapes", shapes);
}

function targetInterval(index){
    highlightInterval(index);
    targetInt = index;   
}

function buildIntervals(data, ints, pieceLengths, pieceTypes, pieceCounts){
    console.log("data", data);
    console.log("ints", pieceCounts);
    var shapes = [];
    pieceLengths = pieceLengths.split(",");
    pieceTypes = pieceTypes.split(",");
    pieceCounts = pieceCounts.split(",");
    var intsTable = document.createElement("table");
    intsTable.setAttribute("class", "table");
    intsTable.setAttribute("style", "height: 200px; overflow: auto");
    intsTable.setAttribute("id", "intervalTable");
    var colWidths = ["5%", "25%", "60%", "10%"];
    for (var i = 0; i < colWidths.length; i++) {
        var col = document.createElement("col")
        col.setAttribute("width", colWidths[i]);
        intsTable.appendChild(col);
    }

    var intervalsheaders = document.createElement("tr");
    intsTable.appendChild(intervalsheaders);

    var headers = ["Remove","Length", "Type", "Number"];
    for (var i = 0; i < headers.length; i++) {
        intervalsheaders.appendChild(document.createElement("th")).appendChild(document.createTextNode(headers[i]));
    }

    for (var i = 0, pieceCount = 0; i < pieceLengths.length; i++){
        const curCounts = pieceCounts[i]
        var curInts;
        if (i< ints.length){
            curInts = ints[i];
        } else {
            curInts = [];
        }
        for (var j = 0; j < curCounts; j++, pieceCount++){
        //curInts.forEach(function(interval){
            var newRow = makeIntsTableRow(pieceLengths[i], pieceTypes[i], pieceCount, j);
            var graphInts = $("#graph").prop("ints");
            if (j < curInts.length){
                var interval = curInts[j];
                graphInts.push(interval)
                $("#graph").prop("ints", graphInts);
                var rect = makeRect(data[interval[0]], data[interval[1]], pieceCount);
                shapes[pieceCount] = rect;
            } else {
                graphInts.push([0,0]);
                $("#graph").prop("ints", graphInts);
                var rect = makeRect(data[0], data[0], pieceCount);
                shapes[pieceCount] = rect;
                $(newRow).find('input:checkbox').prop("checked", true);
            }
            intsTable.appendChild(newRow);
        }
    }
    console.log("intsTable", intsTable);

    $(intsTable).hide().appendTo($("#intervalTableDiv")).show('slow');
    $(".clickable").click(function(){
        console.log("$(this).parent().attr('value')", $(this).parent().attr('value'));
        targetInterval($(this).parent().attr('value'));
    });
    $("#intervalTable tr").click(function() {
        //var selected = $(this).hasClass("highlight");
        $("#intervalTable tr").removeClass("highlight");
        //if(!selected)
        $(this).addClass("highlight");
    });
    console.log(shapes);
    return shapes;
}

function makeIntsTableRow(length, pieceType, pieceCount, pieceIndex){
    var newRow = document.createElement("tr");
    newRow.setAttribute("value", pieceCount);
    var firstElem = document.createElement("td");
    var secElem = document.createElement("td");
    var thirdElem = document.createElement("td");
    var elem_4 = document.createElement("td");
    firstElem.classList.add('clickable');
    secElem.classList.add('clickable');
    thirdElem.classList.add('clickable');
    var check = $("<td />").html('<input type="checkbox"/>');
    check.attr("interval", {length: length, pieceType: pieceType, pieceCount: pieceCount, pieceIndex: pieceIndex});
    //check.addClass('clickable');
    check.appendTo(newRow);
    newRow.appendChild(firstElem).appendChild(document.createTextNode(length));
    newRow.appendChild(secElem).appendChild(document.createTextNode(pieceType));
    newRow.appendChild(thirdElem).appendChild(document.createTextNode(pieceIndex+1));// so that it starts at 1
    newRow.value
    return newRow
}

function removeTrace(){
    if (!!$("#graph")[0].data && $("#graph")[0].data.length > 0){
        Plotly.deleteTraces($("#graph")[0], 0);
        $('#intervalTable').remove();
        Plotly.relayout($("#graph")[0],"xaxis.rangeslider",{});
        Plotly.relayout($("#graph")[0],"shapes",[]);

    }
}

function compileData(){
    const all_ints = $("#graph").prop("ints");
    const selected_ints = $('#intervalTable input:checkbox').map(function(i, elem){if(!elem.checked){return [all_ints[i]]}});
    console.log(selected_ints);

    return selected_ints;
}

$( document ).ready(function() {
    /*init_graph();*/
    /*$('#graph').on('plotly_relayout', function(event, arguments){
        console.log(arguments);
    });*/
$("#graph").prop("ints", []);

$('#txtFileUpload').on('change', uploadCSV);
$('#submitUpload').on('click', compileData);//getDataCsv);
$('#getIntervalsBtn').on('click', function(){
    getDataInts();
    $("#graphingContent").show();
    $("#form-content").hide();
    $('#myModal').modal('handleUpdate');
});
//$('#removeTrace').on('click', removeTrace);
$("#pieceLengths").val("08:00,23");
$("#pieceTypes").val("time,strokes");
$("#pieceCounts").val("3,12");
$("#backBtn").on("click", function(){
    $("#graphingContent").hide();
    $("#form-content").show();
    $('#myModal').modal('handleUpdate');
});
$("#intResizeButton").on("click", function(){
            const data = $("#graph")[0].data[0].x;
            const range_x0 = $("#graph")[0].layout.xaxis.range[0];
            const range_x1 = $("#graph")[0].layout.xaxis.range[1];
            const closest_ints = getClosestInt(range_x0, range_x1);
            $("#graph")[0].layout.shapes[targetInt].x0 = data[closest_ints[0]].valueOf();
            $("#graph")[0].layout.shapes[targetInt].x1 = data[closest_ints[1]].valueOf();
            var ints = $("#graph").prop("ints");
            ints[targetInt] = closest_ints;
            $("#graph").prop("ints", ints);
            Plotly.relayout($("#graph")[0], 'shapes', $("#graph")[0].layout.shapes);
        });
makeIntervalTable();

});

</script>

</body>
</html>


<!-- 
todo:

make intervals adjustable
 - requires breaking intervals into each part, so click on one and it highlights the corresponding interval
 then can adjust that interval using

 $("#graph")[0].layout.shapes[0].x0 = $("#graph")[0].layout.xaxis.range[0];
$("#graph")[0].layout.shapes[0].x1 = $("#graph")[0].layout.xaxis.range[1];
Plotly.relayout($("#graph")[0], 'shapes', $("#graph")[0].layout.shapes )

then updates interval
 - make it possible to delete an interval, which automatically updates all the intervals that
 you haven't manually changed
 - make it possible to define work out in a user friendly way instead of just comma seperated text (low priority)
 -but make it possible to save unique definition of workout to each persons data, maybe just specify the pieces that you are missing
as usually it should only be different if someone forgot to record for a piece
-therefore maybe only have to record how many missed off start and/or end


-------- important: I need to make the fault tolerance larger in the algo for shorter pieces. e.g. 0.1 is plenty for 08:00 as it is 48 seconds but not enough for 23 strokes where it is 2 strokes because of the natur of the algorithm there can easily be a 1-2 stroke error not including a cox or coach counting error.



-->




