<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
  <title>FreeSpeed</title>
  <meta name="username" content={{username}}>
</head>

<body>
  <div>
    <div id="banner">
      <a href="/profile"><img id="banner_logo" src="/images/freespeed_logo.png"></img></a>
      <a href="/manage-data"><button id="upload_button" class="banner_button">Manage Data</button></a>
      <div id="banner_right">
        <div class="dropdown" id="profile_dropdown">
          <button class="btn btn-primary dropdown-toggle"
            type="button" data-toggle="dropdown" id="profile_dropdown_button">{{username}}<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <a href="/auth/logout"<li id="logout_button">Log Out</li></a>
          </ul>
        </div>
    </div>

    </div>
    <div id="white_background_wrapper">
        <div id="rowers_div">
          <div id="rowers_title_div">
            <p id="rowers_title">
              Rowers
            </p>
          </div>
          <ul id="rowers_list">
            <!-- <li class="rower_selected" id="rower_0" onclick="selectRower(this.id)">
              Russell
            </li>
            <li class="rower" id="rower_1" onclick="selectRower(this.id)">
              Sathya
            </li>
            <li class="rower" id="rower_2" onclick="selectRower(this.id)">
              Alex
            </li>
            <li class="rower" id="rower_3" onclick="selectRower(this.id)">
              James
            </li> -->
          </ul>
        </div>
        <div id="float_right_div">

          <div id="stats_header">
          <div id="choose_workout_div">
            <div id="choose_statistic_div">
              <br/>
              <p id="dropdown_label">Statistic:</p>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                  value="get_stat()" data-toggle="dropdown" id="dropdown_button">Power
                </button>
                <ul class="dropdown-menu">

                  <li class="type_selector_button" id='0' value="power" onclick="toggleType(0)">Power</li>
                  <li class="type_selector_button" id='1' value="speedGPS" onclick="toggleType(1)">Speed</li>
                  <li class="type_selector_button" id='2' value="slip" onclick="toggleType(2)">Slip</li>
                  <li class="type_selector_button" id='3' value="wash" onclick="toggleType(3)">Wash</li>
                  <li class="type_selector_button" id='4' value="strokeRate" onclick="toggleType(4)">Stroke/Min</li>
                  <li class="type_selector_button" id='5' value="catch" onclick="toggleType(5)">Catch Angle</li>
                  <li class="type_selector_button" id='6' value="finish" onclick="toggleType(6)">Finish Angle</li>
                  <li class="type_selector_button" id='7' value="maxForceAngle" onclick="toggleType(7)">Max Force Angle</li>
                  <li class="type_selector_button" id='8' value="forceMax" onclick="toggleType(8)">Max Force</li>
                  <li class="type_selector_button" id='9' value="forceAvg" onclick="toggleType(9)">Avg Force</li>
                  <li class="type_selector_button" id='10' value="work" onclick="toggleType(10)">Work</li>
                  <li class="type_selector_button" id='11' value="distancePerStrokeGPS" onclick="toggleType(11)">Distance/Stroke</li>
                  <li class="type_selector_button" id='12' value="heartRateBPM" onclick="toggleType(12)">Heart Rate</li>
                </ul>
              </div>
            </div>
            Workout Day:
            <div id="workout_selector" class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button"
                data-toggle="dropdown" id="workout_button">Big booty
              </button>
              <ul class="dropdown-menu" id="workouts">
              </ul>
            </div>
      </div>
    </div>
      <div id="graph_div">


        <p id="graph_title"></p>
        <div id="d3Graph">
        </div>
      </div>
        <div id="averages_div">
          <p id="averages_div_title">Averages</p>
            <table id="averages_table">
              <tr>
                <th class="title_cell">Stat</th>
                <th class="title_cell">Your Average</th>
                <th class="title_cell">Team Average</th>
                <th class="title_cell">+/-</th>
              </tr>
              <tr>
                <td>Power</td>
                <td>3000</td>
                <td>20</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Speed</td>
                <td>22</td>
                <td>88</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Slip</td>
                <td>22</td>
                <td>45</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Wash</td>
                <td>15 degrees</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Stroke/Min</td>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Catch Angle</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Finish Angle</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Max Force Angle</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Max Force</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Average Force</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Work</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Distance/Stroke</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>Heart Rate</td>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>
  </div>
  <script src="/js/graph.js"></script>
  <script src="/js/home.js"></script>
</html>
